body{
    display: flex;
    background-color: hsl(185, 75%, 39%);
    justify-content: center;
    align-items: center;
    height:100vh;
}

.gf{ 
    position: absolute;
    width: 350px;
    height: 375px;
    background-color: white;
    margin-left: -100px;
    margin-top: -200px;
    border-radius: 15px;
}

.fg{
    width:500px;
    height:700px;
    margin-top:-500px;
    margin-left: 400px;
}
.df{
    width:1400px;
    height:900px;
    margin-top:800px;
    margin-left: 100px;
}
.ry{
    background-color: white;
    margin-top: -55px;
    margin-left: 125px;
    border-radius: 100px;
}
.zx{
    font-size: 20px;
    margin-left: 115px;
}
.sd{
    color:hsl(0, 0%, 59%);
    margin-top: -40px;
    margin-left: 210px;
}
.gl{
    color:hsl(0, 0%, 59%);
    margin-top: -05px;
    margin-left: 150px;
}



#p3{
    position: absolute;
    margin-left: 55px;
    margin-top: 30px;
    font-size: 20px;

}
#p4{
    position: absolute;
    margin-left: 155px;
    margin-top: 30px;
    font-size: 20px;
    width: 160px;

}
#p5{
    position: absolute;
    margin-left: 255px;
    margin-top: 30px;
    font-size: 20px;
    width: 160px;
 
}
.p6{
    position: absolute;
    margin-left: 35px;
    margin-top: 50px;
    color:hsl(0, 0%, 59%);
}
.p7{
    position: absolute;
    margin-left: 160px;
    margin-top: 50px;
    color:hsl(0, 0%, 59%);
}
.p8{
    position: absolute;
    margin-left: 250px;
    margin-top: 50px;
    color:hsl(0, 0%, 59%);
}