body{
    display: flex;
    justify-content: center;
    margin-top: 12%;
  }
  .bmw{
    position: relative;
    width: 300px;
    height: 300px;

  }
  .o-c{
    width: 110%;
    height: 110%;
    border-radius: 50%;
    background-color: #1f1f1f;
    position: absolute;
  }
  .i-c{
    width: 250px;
    height: 250px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 40px;
    overflow: hidden;
  }
 
  .w{
    position: absolute; 
    width: 50%;
    height: 50%;

  }
  .b-l {
    background: #2791fa;
    border: 3px solid black;
    transform: translate(0,-4px);
    margin: 2px;
    margin-left: -2px;
  }
  .b-r {
    background: #1e90ff;
    bottom: 0;
    right: 0;
    border: 3px solid black;
    margin-right: -8px;
    margin: -7px;
  }