body{
    background-image: url();
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}