.main{
    background-color: brown;
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
}

.hk{
    position: absolute;
    background-color:blueviolet;
    width: 90px;
    height: 90px;
}